* {
  box-sizing: border-box;
}

html {
  font: 16px 'Merriweather', serif;
  color: #000016

}

.container {
  width: 100%;
  margin: 0 auto;
}

header,
.intro,
footer {
  text-align: center;
}

header,
input[type="submit"] {
    color: #fff;
}

header {
  background-color: #28323C;
  text-transform: uppercase;
  height: 4rem;
  display: flex;
  align-items: center;
}

header,
h1,
legend,
input[type="submit"] {
  font-weight: 700;
  font-size: 1.1rem;
}

h1 {
  margin-top: 2rem;
}

/* That following paragraph */
h1 + p {
  color: #A0A5AA;
  font-weight: 300;
  font-size: .8rem;
  margin: 1rem 2rem 2.2rem;
}

.thik,
.thin {
  background-color: #000016;
  margin: 0 1rem 3px;
}

.thik {
  height: 4px;
}

.thin {
  height: 2px;
  margin-bottom: 1.5rem;
}

fieldset {
  border: none;
}

fieldset:first-child {
  background-color: #49af9614;
  margin-bottom: 1rem;
}

legend {
  margin-bottom: 1rem;
}

.basic-label {
  font-weight: 300;
  font-size: .9rem;
  color: #626f7b;
}
input,
select,
textarea,
fieldset:first-child {
  border-radius: 5px;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  margin-top: .5rem;
  margin-bottom: 1rem;
  padding: 1rem 1rem;

  border: none;
  background-color: #ECEEEF;

  transition: all ease .5s;
}

textarea {
  margin-top: 1rem;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid #0e62b5;

  /*Full disclosure: I used a generator for the following inset shadow, mostly for syntax - hopefully that is ok. I did then change the parameters manually.
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Background_and_Borders/Box-shadow_generator  */
  box-shadow: inset 0px 2px 10px 1px rgba(91, 133, 150, 0.56);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-block;
  width:auto;
  margin-right: .75rem;
}

/* Tom: Remember this genius pseudoclass! */
input[required]::placeholder {
  text-align: right;
}

::placeholder,
select,
footer {
  font-weight: 300;
  color: #A0A5AA;
}


input[required]::placeholder,
footer {
  font-size: .75rem;
  font-style: italic;
}

.zip {
  width: 50%;
}

input[type="submit"] {
  background-color: #3FB3AC;
  margin: 2rem 0 .5rem;
  padding: 1.2rem;
}

input[type="submit"]:focus {
  box-shadow: 0px 10px 22px -8px rgba(73, 175, 150, 0.56);
  background-color: #247b75;
}

footer {
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px){

/* best guess for width, based on mockup */
  .container {
    max-width: 700px;
  }

  h1 {
    font-size: 1.5rem;
    margin-top: 4.25rem;
  }

  h1 + p,
  footer {
    font-size: .9rem;
  }

  .thin {
    margin-bottom: 3rem;
  }

  fieldset:first-child {
    display: flex;
    flex-wrap: wrap;
  }

  /* don't change width of submit button */
  fieldset:first-child input,
  select {
    width: 75%;
  }

  /* specificity so that it cascades properly */
  fieldset:first-child input.zip {
    width: 25%;
  }

  fieldset:first-child label {
    width: 25%;
    margin-top: .5rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
  }

/* /media Q */
}
